:root{
    --blue: #0c4194;
    --yellow: #ffc300;
    --black: #565755;
    --bluepure: #093476;
    --white: #fff;
    --black: #000;
}


*{
    font-family: "Arvo", serif;
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
    font-style: normal;
    margin: 0; padding: 0;
    list-style: none;
}

.btn{
    padding: 10px 25px;
    background: #0c4194;
    font-size: 1rem;
    text-transform: capitalize;
    border: none;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}

.btn:hover{
    background: #ffc300;
    color:#093476;
}

.heading{
    text-align: left;
    padding-bottom: 30px;
    border-bottom: 2px solid #ffc300;
    color: #093476;
    font-size: 2rem;
    text-transform: uppercase;
}

.heading span{
    text-transform: uppercase;
    color: #ffc300;
}



body{
    background: #ecf1f5;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.8rem 7%;
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: var(--blue);
    box-shadow: 0 0 3px 0;
}

.logo p{
    font-size: 2rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.logo span{
    color: #ffc300;
}

.navbar{
    padding-top: 10px;
}

.navbar a{
    margin: 0 10px;
    color: #fff;
    transition:.2s linear;
}

.navbar a:hover{
    color: #ffc300;
    padding-bottom: 20px;
    border-bottom: 2px solid #ffc300;
}

.header .icons i{
    font-size: 1.3rem;
    margin: 0 10px;
    color: #fff;
    cursor: pointer;
}

.header .icons i:hover{
    color: #ffc300;
}

#menu-btn{
    display: none;
}

.search-input{
    position: absolute;
    top: 110%; right: 20%;
    border: 1px solid #3333;
    width: 300px;
    display: none;
    border-radius: 0 5px 5px 0;
}

.search-input.active{
    display: flex;
}

.search-input input{
    padding: 7px;
    width: 100%;
    border: none;
    outline: none;
}

.search-input i{
    background: #ffc300;
    font-size: 1.3rem;
    padding: 5px 15px;
    line-height: 20px;
    color: #093476;
    border-radius: 0 5px 5px 0;
}

.items-cart{
    position: absolute;
    top: 100%; right: 0;
    background: #ecf1f5;
    width: 300px;
    height: 100vh;
    display: none;
}

.items-cart.active{
    display: inline-block;
}

.items-cart .item{
    display: flex;
    padding: 30px 10px;
}

.items-cart .item i{
    padding-right: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.items-cart .item .content{
    padding-left: 10px;
}

.items-cart .item .content h3{
    padding-bottom: 5px;
}

.items-cart button{
    margin-left: 20px;
}

.header img{
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.login{
    position: absolute;
    top: 100%; right: 0;
    width: 300px;
    background: #ecf1f5;
    display: none;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}

.login.active{
    display: flex;
}

.login form .form-input{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.login form .form-input label{
    padding-bottom: 10px;
}

.login form .form-input input{
    padding: 5px;
}

.login form .content{
    padding-bottom: 20px;
}

.login form button{
    margin-bottom: 20px;
}



section{
    padding: 7% 20px;
}

.home{
    padding: 10% 20px;
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url(slide-img\ \(3\).jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home .container h1{
    color: #093476;
}

.home .container p{
    margin-bottom: 25px;
    margin-top: 20px;
    color: #565755;
}

.cate-products .container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: .2rem;
    padding-top: 20px;
}

.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: .4rem;
    justify-items: center;
    padding-top: 30px;
    background: #ffffff8d;
    padding: 0 20px;
    padding-top: 10px;

}

.cate-products .products .box{
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    height: 65%;
}

.cate-products .products .box img{
    width: 100%;
    transform: scale(1);
    transition: transform .2s linear;
}

.cate-products .products .box img:hover{
    transform: scale(1.06);
}

.cate-products .products .box .icons{
    position: absolute;
    top: 20px; right: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transition: opacity .2s linear;
}

.cate-products .products .box .icons a{
    margin-bottom: 10px;
    padding: 7px;
    background: #eee;
    border-radius: 5px;
    color: #093476;
    transition: color .2s linear;
}

.cate-products .products .box .icons a:hover{
    color: #ffc300;
}

.cate-products .products .box:hover .icons{
    opacity: 1;
}

.cate-products .products .box .content a{
   color: #565755;
}

.cate-products .products .box .content a:hover{
    color: #ffc300;
}

.cate-products .products .box .content .stars{
    padding: 20px 0;
}

.cate-products .products .box .content .stars i{
    color: #ffc300;
}

.cate-products .products .box .content .price{
    color: #0c4194;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.cate-products .products .box .content .price span{
    margin-right: 10px;
    font-size: 1rem;
    font-weight: 200;
    text-decoration: line-through;
    letter-spacing: 0;
}

.cate-products .pub-annonce{
    display: flex;
    justify-content: center;
    background: #ffc300;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.cate-products .pub-annonce .entete{
   padding-bottom: 20px;
   color: #fff;
   text-transform: uppercase;
   font-size: 3rem;
}

.cate-products .pub-annonce p{
    font-size: 1.5rem;
}

.cate-products .pub-annonce .cara{
    padding: 20px;
    font-size: 1.2rem;
    margin-top: 20px;
}

.cate-products .pub-annonce .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px ;
} 

.cate-products .pub-annonce .price span{
    background: #093476;
    padding: 7px 25px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 3px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0 #000;
}

.cate-products .pub-annonce .price .reduction{
    background: #ec1d25;
}

.cate-products .pub-annonce .annonce a:hover{
    background: #0c4094d8;
    color: #fff;
}

.cate-products .pub-annonce img{
    width: 100%;
}




























@media(max-width: 786px){
    .cate-products .container{
        display: flex;
        flex-direction: column;
    }
}

